@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/poppins';

:root {
	/* color config */
	--main-background: rgb(8, 13, 27);
	--main-color: rgb(179, 72, 225);
	--secondary-color: rgb(191, 92, 233);
	--tertiary-color: rgb(249, 237, 255);
	--text-main: rgba(255, 255, 255, 1);
	--text-secondary: rgba(127, 131, 134, 1);
	/* font config */
	--font-fams: Poppins, sans-serif;
	font-family: var(--font-fams);
	color: var(--color-text);
}

body {
	color: var(--text-main);
	font-family: var(--font-fams);
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--main-background);
	background-size: 100vw 100vh;
}

@layer utilities {
	section {
		@apply px-6 md:px-24;
	}
}
